<!--Start Intro-->
<section class="start fail">
  <div class="container">
    <div class="intro-imagenes">
      <img src="img/logo-matheroes.svg" height="110" width="500" alt="Matheroes" class="logo wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0s">
      <img src="img/matheroes-fail.svg" height="410" width="500" alt="Matheroes" class="matheroes wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">

    </div>
    <div class="intro-juego">
      <h1 class="titulo-espacial wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s">Temps exhaurit!</h1>
      <div class="texto-intro wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.3s">
      <p>Ho sentim però no ha estat possible alliberar els Matheroes.</p>
      </div>
      <button id="btnBack" class="boton wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.4s">Juga un altre cop</button>
    </div>
    <div class="intro-logos">
      <img src="img/logo-gob.svg" height="60" width="200" alt="Gobierno España" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0s">
      <img src="img/logo-fecyt.svg" height="60" width="200" alt="Fecyt" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <img src="img/logo-icmab.svg" height="60" width="160" alt="ICMAB" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">
      <img src="img/logo-csic.svg" height="60" width="200" alt="CSIC" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.3s">
    </div>
  </div>
</section>
<!--End Intro-->
