<!--Start Intro-->
<section class="coordenadas">
  <div class="panel-coordenadas">
      <p class="titulo-pista wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0s">¡Rescata a Los Matheroes encontrando <br>las coordenadas su ubicación!</p>
      <p class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">El topo del Escuadrón Oscuro ha dejado unos enigmas <br>que debéis resolver de manera colaborativa.</p>
    <div class="radar">
      <img src="img/radar-coordenadas.svg" height="100" width="100" alt="Matheroes" class="radar">
      <img src="img/panel-coordenadas.svg" height="380" width="450" alt="Matheroes" class="panel">
    </div>
    <p class="ayuda-coordenadas">Introduce las <strong class="verde">coordenadas de Longitud (XX)</strong> y las <strong class="verde">coordenadas de Latitud (YY)</strong> separadas por una coma</p>
    <form autocomplete="off">
        <input type="text" value="" name="code1" id="inputVerify" placeholder="XX,YY">
        <button id="btnVerify" class="boton">Verificar</button>
    </form>
  </div>
  <div class="container content-column">
    <div class="content-left">
      <ul class="listado-coordenadas">
        <li class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s"><a href="/escape/pdf/codigos-magnon.pdf" target="_blank"><img src="img/coordenadas-magnon.svg" height="94" width="80" alt="Matheroes Magnon" class="panel-mandos"><span>Códigos Magnon</span></a></li>
        <li class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s"><a href="/escape/pdf/codigos-fotoenergia.pdf" target="_blank"><img src="img/coordenadas-fotoenergia.svg" height="94" width="80" alt="Matheroes Fotoenergía" class="panel-mandos"><span>Códigos Fotoenergía</span></a></li>
        <li class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.3s"><a href="/escape/pdf/codigos-bionanocapsula.pdf" target="_blank"><img src="img/coordenadas-nanocapsula.svg" height="94" width="80" alt="Matheroes Nanocápsula" class="panel-mandos"><span>Códigos Nanocápsula</span></a></li>
        <li class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.4s"><a href="/escape/pdf/codigos-electrowoman.pdf" target="_blank"><img src="img/coordenadas-electrowoman.svg" height="94" width="80" alt="Matheroes Electrowoman" class="panel-mandos"><span>Códigos Electrowoman</span></a></li>
        <li class="wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.5s"><a href="/escape/pdf/codigos-superconductor.pdf" target="_blank"><img src="img/coordenadas-superconductor.svg" height="94" width="80" alt="Matheroes Superconductor" class="panel-mandos"><span>Códigos Superconductor</span></a></li>
      </ul>
    </div>
    <div class="content-right">
      <img src="img/panel-mandos.svg" height="430" width="300" alt="Matheroes" class="panel-mandos">
    </div>
  </div>
</section>
<!--End Intro-->

<!--Start Input-->

<!--End Input-->
