<script>
jQuery(document).on("scroll", function() {
  if(jQuery(document).scrollTop()>100) {
    jQuery(".celda").removeClass("invisible").addClass("visible");
  } else {
    jQuery(".celda").removeClass("visible").addClass("invisible");
  }
});
</script>
<script>
jQuery('.link-verificar').click(function(){
		jQuery('html, body').animate({
				scrollTop: jQuery( jQuery(this).attr('href') ).offset().top
		}, 1000);
		return false;
});
</script>
<script>
$(document).ready(function(){
  $(".pista-boton").click(function(){
    $(".pista-content").toggle("fast");
  });
});
</script>
<!--Start Celda-->
<div class="celda invisible">
    <div class="matheroe-silueta"><img src="img/matheroe-bionanocapsula.svg" height="500" width="350" alt="Matheroes Bionanocapsula"></div>
    <div class="matheroe-celda"><img src="img/celda.png" height="500" width="350" alt="Matheroes Bionanocapsula"></div>
    <div class="matheroe-base-celda"><img src="img/base-celda.svg" height="500" width="350" alt="Matheroes Bionanocapsula"></div>
    <div class="matheroe-logo"><img src="img/logo-bionanocapsula.svg" height="80" width="300" alt="Matheroes Bionanocapsula"></div>
    <a href="#verificar" class="link-verificar"></a>
</div>
<!--End Celda-->
<!--Start Logo-->
<section class="logo-matheroe">
  <div class="container">
    <img src="img/logo-bionanocapsula.svg" height="100" width="300" alt="Matheroes Bionanocapsula" class="matheroes wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0s">
  </div>
</section>
<!--End Logo-->
<!--Start Chat Reto1-->
<section class="chat-matheroe matheroe-bionanocapsula">
  <div class="chat-level wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
    <p><span>Reto 1</span>ORIGEN</p>
  </div>
  <div class="container">
    <div class="chat wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <p class="titulo-espacial">¡No puedo escapar!</p>
      <p>Mi multifunción para adherirme a la estructura de la celda no funciona. Y nadie recibe mi señal de alarma de fluorescencia.</p>
      <p><strong>Parece que la única salida posible es encontrando los 3 dígitos del candado.</strong></p>
      <p>Espero que los demás estén bien porque... Veo una cuenta atrás. Eso quiere decir que... <br>¡Luchamos a contrarreloj!</p>
    </div>
    <img src="img/chat-bionanocapsula.svg" height="300" width="340" alt="Bionanocapsula" class="matheroe-speak wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.1s">
  </div>
</section>
<!--End Chat Reto1-->
<!--Start Reto1-->
<section class="reto reto-origen">
  <div class="container content-column">
      <div class="content-left wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
        <div class="postit">
          <p class="titulo-pista">Pregunta 1</p>
          <p>Polímeros blandos, elásticos y que se hinchan en presencia de agua, aumentando su volumen, con apariencia parecida a la gelatina. Recientemente se utilizan para cultivo celular en tres dimensiones:</p>
          <p class="ahorcado">_ _ _ <span class="rojo">_</span> _ _ _ _</p>
        </div>
    </div>
    <div class="content-right wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="postit">
        <p class="titulo-pista">Pregunta 2</p>
        <p>Son unas nanopartículas que pueden llevar fármacos u otros compuestos químicos dentro, evitando que estos sean rápidamente eliminados por el cuerpo. Pueden ser orgánicas, como las nanovesículas quatsomes, o inorgánicas:</p>
        <p class="ahorcado">_ _ _ <span class="azul">_</span> _ _ _ _ _ _ _ _</p>
      </div>
    </div>
    <div class="content-left wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="postit">
        <p class="titulo-pista">Pregunta 3</p>
        <p>Aleación metálica de cobre, estaño y a menudo otro elemento; es de color marrón anaranjado y sus aplicaciones dependen de la proporción del estaño:</p>
        <p class="ahorcado">_ _ _ _ <span class="morado">_</span> _</p>
      </div>
    </div>
    <div class="content-right wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="postit">
        <p class="titulo-pista">Pregunta 4</p>
        <p>Propiedad que es un tipo particular de luminiscencia, que caracteriza a las sustancias que son capaces de absorber energía en forma de radiaciones electromagnéticas y luego emitir parte de esa energía en forma de radiación electromagnética de longitud de onda diferente:</p>
        <p class="ahorcado">_ _ _ _ _ <span class="amarillo">_</span> _ _ _ _ _ _ _</p>
      </div>
    </div>
    <div class="content-left wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="pista">
        <p class="titulo-pista">¡Pista!</p>
        <p>El primer dígito se forma con una de las letras de colores de cada una de las respuestas anteriores. Para saber, qué letra es, deberéis encontrar la silueta correcta de BioNanoCápsula que os descubrirá el patrón de colores de las letras que forman vuestro número.</p>
        <img src="img/reto1-bionanocapsula.svg" height="180" width="340" alt="Matheroes" class="siluetas">-
      </div>
  </div>
  </div>
</section>
<!--End Reto1-->
<!--Start Chat Reto2-->
<section class="chat-matheroe matheroe-bionanocapsula">
  <div class="chat-level wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
    <p><span>Reto 2</span>SUPERPODER</p>
  </div>
  <div class="container">
    <div class="chat wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <p class="titulo-espacial">Pero... ¿Qué es esto que veo en la pared?<br>
      ¿Qué son esos símbolos? ¿Un mensaje encriptado?</p>
      <p>Quizá dentro de El Escuadrón Oscuro haya alguien que quiere ayudarnos.</p>
    </div>
    <img src="img/chat-bionanocapsula.svg" height="300" width="340" alt="Bionanocapsula" class="matheroe-speak wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.1s">
  </div>
</section>
<!--End Chat Reto2-->
<!--Start Reto2-->
<section class="reto reto-superpoder">
  <div class="container content-column">
      <div class="content-left wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
        <div class="postit">
          <p class="titulo-pista">Mensaje</p>
          <img src="img/reto2-bionanocapsula.svg" height="160" width="340" alt="Matheroes" class="reto-img">
        </div>
    </div>
    <div class="content-right wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="pista">
        <p class="titulo-pista">¡Un momento!</p>
        <p>Parece que mis lentes de PDMS detectan que el compuesto químico de dentro de mis nanocápsulas se está magnetizando y se orienta hacia un rincón en concreto de la celda. Parece que hay algo.</p>
        <p><strong>¡Una tabla de descodificación!</strong></p>
        <img src="img/reto2-codigos-bionanocapsula.svg" height="300" width="340" alt="Matheroes" class="reto-img">
      </div>
    </div>
  </div>
</section>
<!--End Reto2-->
<!--Start Chat Reto3-->
<section class="chat-matheroe matheroe-bionanocapsula">
  <div class="chat-level wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
    <p><span>Reto 3</span>Liberación</p>
  </div>
  <div class="container">
    <div class="chat wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <p class="titulo-espacial">¡Ya solo falta un número, pero el tiempo corre!</p>
      <p>¿Puede que haya más pistas en la celda? <br>
        ¿Y si siempre han estado, pero no las podemos ver para que El Escuadrón Oscuro no descubriese a nuestr@ ayudante?</p>
        <p>Voy a activar el sensor... <br>
        ¡Sí! Aquí están, <strong>hay unas imágenes escondidas y una ¿ecuación?</strong></p>
    </div>
    <img src="img/chat-bionanocapsula.svg" height="300" width="340" alt="Bionanocapsula" class="matheroe-speak wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="0.1s">
  </div>
</section>
<!--End Chat Reto3-->
<!--Start Reto3-->
<section class="reto reto-liberacion">
  <div class="container content-column">
      <div class="content-left wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
        <div class="postit">
          <p class="titulo-pista">Asocia las imágenes</p>
          <p>Asocia cada instrumento óptico con la imagen que veríamos y resuelve la ecuación.</p>
          <img src="img/reto3-bionanocapsula.jpg" height="600" width="600" alt="Matheroes" class="reto-img">
        </div>
    </div>
    <div class="content-right wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <div class="pista">
        <p class="titulo-pista">Resuelve la ecuación</p>
        <p>Para obtener el último dígito (X).</p>
        <img src="img/reto3-codigos-bionanocapsula.svg" height="100" width="600" alt="Matheroes" class="reto-img">
      </div>
    </div>
  </div>
</section>
<!--End Reto3-->
<!--Start Verificar-->
<section id="verificar" class="verificar">
  <div class="container">
    <p class="titulo-verificar">Código de liberación</p>
    <form autocomplete="off">
        <input type="text" value="" name="code1" id="inputVerify" placeholder="Introduce el código">
        <button id="btnVerify" class="boton">Verificar</button>
    </form>
  </div>
</section>
<!--End Verificar-->
