<!--Finish Intro-->
<section class="start finish">
  <div class="container">
    <div class="intro-imagenes">
      <img src="img/logo-matheroes.svg" height="110" width="500" alt="Matheroes" class="logo wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0s">
      <span>-53,73</span>
      <div class="coordenadas-finales wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s"><img src="img/coordenadas.svg" height="50" width="50" alt="Matheroes"></div>
      <img src="img/mapamundi.svg" height="420" width="900" alt="Matheroes" class="mapamundi wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.1s">
    </div>
    <div class="intro-juego">
      <h1 class="titulo-espacial wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.2s">¡Lo habéis conseguido<!-- en <code id="time_finish"></code>-->!</h1>
      <div class="texto-intro wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.3s">
      <p>Ya sabemos nuestras coordenadas y que estamos en algún lugar del Océano Índico. Además al salir de las celdas <strong>hemos recuperado nuestros poderes y podemos mandar un mensaje al ICMAB</strong>.</p>
        <p>Esta vez El Escuadrón Oscuro no se ha salido con la suya. Y nosotros y vosotros trabajaremos porque siga siendo así y estemos cada vez más cerca de conseguir los ODS.</p>
      </div>
      <button id="btnBack" class="boton wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.4s">Juega de nuevo</button>
    </div>
    <div class="intro-logos">
      <img src="img/logo-gob.svg" height="60" width="200" alt="Gobierno España" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0s">
      <img src="img/logo-fecyt.svg" height="60" width="200" alt="Fecyt" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
      <img src="img/logo-icmab.svg" height="60" width="160" alt="ICMAB" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">
      <img src="img/logo-csic.svg" height="60" width="200" alt="CSIC" class="logo wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.3s">
    </div>
  </div>
</section>
<!--Finish Intro-->
